In [1]:
import numpy as np
import pandas as pd
import random

In [23]:
%run 'helpers.py'

# Data selection & Indexing

## Series

In [2]:
series = pd.Series([3, 62, 75, 83, 47, 43, 39, 16, 19, 2])

In [3]:
series

0     3
1    62
2    75
3    83
4    47
5    43
6    39
7    16
8    19
9     2
dtype: int64

### Access by Position / Slice

In [4]:
series[0]

3

In [5]:
series[3:6]

3    83
4    47
5    43
dtype: int64

In [6]:
# series[3:6]
series.iloc[3:6]
# note [] not ()!

3    83
4    47
5    43
dtype: int64

### Access by label

In [7]:
# set alpha label as new index for the series
series.index = [x for x in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"][:len(series)]

In [8]:
series

A     3
B    62
C    75
D    83
E    47
F    43
G    39
H    16
I    19
J     2
dtype: int64

In [9]:
series[3:6]
# position, pythonic

D    83
E    47
F    43
dtype: int64

In [10]:
series['D':'F']
# by label: slice includes end!

D    83
E    47
F    43
dtype: int64

In [11]:
series[['D':'F', 'I':'J']]
# cannot combine multiple ranges

SyntaxError: invalid syntax (<ipython-input-11-a585bc35575e>, line 1)

In [12]:
pd.concat([series['D':'F'], series['I':'J']])
# concat to combine multiple ranges

D    83
E    47
F    43
I    19
J     2
dtype: int64

In [13]:
# set alpha label as new index for the series
series.index = [x for x in "GATTACAXYZ"][:len(series)]

In [14]:
series

G     3
A    62
T    75
T    83
A    47
C    43
A    39
X    16
Y    19
Z     2
dtype: int64

In [15]:
series.loc['G']

3

In [16]:
series.loc['G':'A']
# non-unique values breaks slicing

KeyError: "Cannot get right slice bound for non-unique label: 'A'"

In [17]:
series.loc['X':'Z']
# while unique values are still slicable in a non-unique index

X    16
Y    19
Z     2
dtype: int64

## DataFrames, 2D Data

In [18]:
df = pd.read_json('./data/sampledf.json')

In [19]:
df

    0   1    2   3    4   5   6   7   8   9
0  79  19   21  99   35  59  44  25  75  58
1  25  39   89  66    9  41   6  69  63   3
2  37  64   31  69   61  97   5  11  76  57
3  74  61  100   6   58  80  95  50  15  51
4  79  60   83  85   16   5  16  69   5  20
5  45  26   73  73  100  60  21  19  95  12
6  12  29   18  98   62  68  92  29  74  96
7  36  32   22   4   66  25  63  51  59  14
8  55  53   89  13   84  87  74   3   2  64
9  46  74   36  54   21  12  68  33  80  25

In [21]:
from IPython import display

In [25]:
# visualisation of below - for presentation
display.display_html(df.style.apply(highlight, subset=pd.IndexSlice[:, 2]))

# column
df[2]

,0,1,2,3,4,5,6,7,8,9
0,79,19,21,99,35,59,44,25,75,58
1,25,39,89,66,9,41,6,69,63,3
2,37,64,31,69,61,97,5,11,76,57
3,74,61,100,6,58,80,95,50,15,51
4,79,60,83,85,16,5,16,69,5,20
5,45,26,73,73,100,60,21,19,95,12
6,12,29,18,98,62,68,92,29,74,96
7,36,32,22,4,66,25,63,51,59,14
8,55,53,89,13,84,87,74,3,2,64
9,46,74,36,54,21,12,68,33,80,25

0     21
1     89
2     31
3    100
4     83
5     73
6     18
7     22
8     89
9     36
Name: 2, dtype: int64

In [27]:
# visualisation of below - for presentation
display.display_html(df.style.apply(highlight, subset=pd.IndexSlice[range(2, 4), :]))

# column
df[2:4]

,0,1,2,3,4,5,6,7,8,9
0,79,19,21,99,35,59,44,25,75,58
1,25,39,89,66,9,41,6,69,63,3
2,37,64,31,69,61,97,5,11,76,57
3,74,61,100,6,58,80,95,50,15,51
4,79,60,83,85,16,5,16,69,5,20
5,45,26,73,73,100,60,21,19,95,12
6,12,29,18,98,62,68,92,29,74,96
7,36,32,22,4,66,25,63,51,59,14
8,55,53,89,13,84,87,74,3,2,64
9,46,74,36,54,21,12,68,33,80,25

    0   1    2   3   4   5   6   7   8   9
2  37  64   31  69  61  97   5  11  76  57
3  74  61  100   6  58  80  95  50  15  51

In [28]:
# visualisation of below - for presentation
display.display_html(df.style.apply(highlight, subset=pd.IndexSlice[range(2, 4), range(2, 4)]))


# segment
df.iloc[2:4, 2:4]

,0,1,2,3,4,5,6,7,8,9
0,79,19,21,99,35,59,44,25,75,58
1,25,39,89,66,9,41,6,69,63,3
2,37,64,31,69,61,97,5,11,76,57
3,74,61,100,6,58,80,95,50,15,51
4,79,60,83,85,16,5,16,69,5,20
5,45,26,73,73,100,60,21,19,95,12
6,12,29,18,98,62,68,92,29,74,96
7,36,32,22,4,66,25,63,51,59,14
8,55,53,89,13,84,87,74,3,2,64
9,46,74,36,54,21,12,68,33,80,25

     2   3
2   31  69
3  100   6

In [29]:
# visualisation of below - for presentation
display.display_html(df.style.apply(highlight, subset=pd.IndexSlice[:, range(2, 4)]))

# column slice
df.iloc[:, 2:4]

,0,1,2,3,4,5,6,7,8,9
0,79,19,21,99,35,59,44,25,75,58
1,25,39,89,66,9,41,6,69,63,3
2,37,64,31,69,61,97,5,11,76,57
3,74,61,100,6,58,80,95,50,15,51
4,79,60,83,85,16,5,16,69,5,20
5,45,26,73,73,100,60,21,19,95,12
6,12,29,18,98,62,68,92,29,74,96
7,36,32,22,4,66,25,63,51,59,14
8,55,53,89,13,84,87,74,3,2,64
9,46,74,36,54,21,12,68,33,80,25

     2   3
0   21  99
1   89  66
2   31  69
3  100   6
4   83  85
5   73  73
6   18  98
7   22   4
8   89  13
9   36  54

In [30]:
df

    0   1    2   3    4   5   6   7   8   9
0  79  19   21  99   35  59  44  25  75  58
1  25  39   89  66    9  41   6  69  63   3
2  37  64   31  69   61  97   5  11  76  57
3  74  61  100   6   58  80  95  50  15  51
4  79  60   83  85   16   5  16  69   5  20
5  45  26   73  73  100  60  21  19  95  12
6  12  29   18  98   62  68  92  29  74  96
7  36  32   22   4   66  25  63  51  59  14
8  55  53   89  13   84  87  74   3   2  64
9  46  74   36  54   21  12  68  33  80  25

In [31]:
df.index = ["R{:02d}".format(i) for i in range(len(df))]

In [32]:
df.columns = ["C{:02d}".format(i) for i in range(len(df.columns))]

In [33]:
df

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R00   79   19   21   99   35   59   44   25   75   58
R01   25   39   89   66    9   41    6   69   63    3
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12
R06   12   29   18   98   62   68   92   29   74   96
R07   36   32   22    4   66   25   63   51   59   14
R08   55   53   89   13   84   87   74    3    2   64
R09   46   74   36   54   21   12   68   33   80   25

In [34]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice[:, 'C05']))

df['C05']

TypeError: 'module' object is not callable

In [30]:
# visualisation of below - for presentation
#display(df.style.apply(highlight, subset=pd.IndexSlice[:, 'C05']))

df['R05']

KeyError: 'R05'

In [31]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice['R02':'R05', :]))


df['R02':'R05']

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12

In [32]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice['R02':'R05', 'C04':'C05']))


# segment
df.loc['R02':'R05', 'C04':'C05']

     C04  C05
R02   61   97
R03   58   80
R04   16    5
R05  100   60

### Excercise

In [33]:
sales_data = pd.read_excel('./data/blooth_sales_data_clean.xlsx')
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.157,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.157,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.157,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.157,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.157,Harry Potter book,4,25.69

In [34]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name         1000 non-null object
birthday     1000 non-null datetime64[ns]
customer     1000 non-null object
orderdate    1000 non-null datetime64[ns]
product      1000 non-null object
units        1000 non-null int64
unitprice    1000 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 54.8+ KB

Select columns two to four (three columsn in total)

In [ ]:
# Your code here

In [36]:
# %load ./solutions/201.py

Select the columns *birthday and name* (together)

In [ ]:
# Your code here

In [37]:
# %load ./solutions/202.py

Select the rows 2 to 4 (three rows)

In [ ]:
# Your code here

In [38]:
# %load ./solutions/203.py

Select the rows 55, 77

In [ ]:
# Your code here

In [39]:
# %load ./solutions/204.py

## Boolean Index

A boolean index is an array of true/false values: [1, 0, 1, 1, 0, 0, 1, …]

! though the index name it's not one of the Pandas Index Types.

In [45]:
df['C04']

R00     35
R01      9
R02     61
R03     58
R04     16
R05    100
R06     62
R07     66
R08     84
R09     21
Name: C04, dtype: int64

In [46]:
df['C04'] > 60

R00    False
R01    False
R02     True
R03    False
R04    False
R05     True
R06     True
R07     True
R08     True
R09    False
Name: C04, dtype: bool

In [47]:
df[df['C04'] > 60]

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57
R05   45   26   73   73  100   60   21   19   95   12
R06   12   29   18   98   62   68   92   29   74   96
R07   36   32   22    4   66   25   63   51   59   14
R08   55   53   89   13   84   87   74    3    2   64

In [48]:
df[(df['C04'] < 60) | (df['C04'] > 80)]  # multiple OR

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R00   79   19   21   99   35   59   44   25   75   58
R01   25   39   89   66    9   41    6   69   63    3
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12
R08   55   53   89   13   84   87   74    3    2   64
R09   46   74   36   54   21   12   68   33   80   25

In [49]:
df[(df['C04'] < 60) & (df['C04'] % 2 == 0)]  # multiple AND

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20

### Excercise

In [50]:
sales_data = pd.read_excel('./data/blooth_sales_data_clean.xlsx')
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.157,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.157,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.157,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.157,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.157,Harry Potter book,4,25.69

In [51]:
sales_data.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name         1000 non-null object
birthday     1000 non-null datetime64[ns]
customer     1000 non-null object
orderdate    1000 non-null datetime64[ns]
product      1000 non-null object
units        1000 non-null int64
unitprice    1000 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 54.8+ KB

Find all rows with exactly 50 units

In [ ]:
# Your code here

In [40]:
# %load ./solutions/205.py

In [41]:
# %load ./solutions/206.py

Find all rows with exactly 50 playstations

In [ ]:
# Your code here

## filter

Filter by label or index

In [57]:
df.filter(like='2')  # , axis=1 per default

     C02
R00   21
R01   89
R02   31
R03  100
R04   83
R05   73
R06   18
R07   22
R08   89
R09   36

In [58]:
df.filter(regex='.0[2-4]', axis=0)

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20

### Transpose with .T

In [59]:
df.iloc[2:3]

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57

In [60]:
df.iloc[2:3].T

     R02
C00   37
C01   64
C02   31
C03   69
C04   61
C05   97
C06    5
C07   11
C08   76
C09   57

### Formatting with Styler

In [35]:
df = pd.read_json('./data/sampledf.json')
df

    0   1    2   3    4   5   6   7   8   9
0  79  19   21  99   35  59  44  25  75  58
1  25  39   89  66    9  41   6  69  63   3
2  37  64   31  69   61  97   5  11  76  57
3  74  61  100   6   58  80  95  50  15  51
4  79  60   83  85   16   5  16  69   5  20
5  45  26   73  73  100  60  21  19  95  12
6  12  29   18  98   62  68  92  29  74  96
7  36  32   22   4   66  25  63  51  59  14
8  55  53   89  13   84  87  74   3   2  64
9  46  74   36  54   21  12  68  33  80  25

In [62]:
df.style.highlight_min()

In [63]:
def odd_or_even(data):
    return [('background-color: green; color:white;' if x%2==0 else 'background-color: orange') 
            for x in data]
df.style.apply(odd_or_even)